extends layout

block content
  h1= title
  p #[em LocalLibrary]へようこそ。このサイトはMozilla Developer Networkのチュートリアル例として開発された基本的なExpressウェブサイトです。

  h1 ライブラリの記録

  p ライブラリには現在以下の記録があります:

  ul
    li #[strong 書籍数:] !{book_count}
    li #[strong 所蔵資料数:] !{book_instance_count}
    li #[strong 利用可能資料数:] !{book_instance_available_count}
    li #[strong 著者数:] !{author_count}
    li #[strong ジャンル数:] !{genre_count}